parameters:
    level: 7
    checkMissingIterableValueType: false
    excludes_analyse:
        - src/Console/Installer.php
    ignoreErrors:
        -
            message: "#^Unreachable statement \\- code above always terminates\\.$#"
            count: 1
            path: src/Controller/PagesController.php
