header {
	background-color: #00bcd4;
	color: #ffffff;
	font-size: 30px;
	height: 84px;
	line-height: 64px;
	padding: 16px 0px;
	box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
	padding-left:80px
}

legend {
	color:#00BCD4;
}

.row {
	max-width: 80rem;
}

.actions.columns {
	margin-top:1rem;
	border-left: 5px solid #00BCD4;
	padding-left: 15px;
	padding: 32px 20px;
}

.actions.columns h3 {
	color:#00BCD4;
}

.index table {
	margin-top: 2rem;
	border: 0;
}

.index table thead {
	height: 3.5rem;
}

.header-help {
	position:absolute;
	top:0;
	right:2rem;
	font-size:16px;
}

.header-help span {
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
	display: inline-block;
	padding: 0.25rem 0.5rem 0.375rem;
	font-size: 0.8rem;
	background-color: #0097a7;
	color: #FFF;
	border-radius: 1000px;
}

.header-help a {
	color: #fff;
}

ul.pagination li a {
	color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background: none repeat scroll 0% 0% #00b8d4;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}

.paginator {
	text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
	text-align: right;
	color: rgba(0, 0 ,0 , 0.54);
}

button {
	background: #ff5177;
}

.form button:hover, .form button:focus {
	background: #ff2d6f;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.26) !important;
}

.form button[type="submit"] {
	float: right;
	text-transform: uppercase;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

div.message {
	border-style: solid;
	border-width: 1px;
	display: block;
	font-weight: normal;
	position: relative;
	padding: 0.875rem 1.5rem 0.875rem 0.875rem;
	transition: opacity 300ms ease-out 0s;
	background-color: #008CBA;
	border-color: #0078A0;
	color: #FFF;
	padding-left:20%;
}

div.message.error {
	background-color: #F04124;
	border-color: #DE2D0F;
	color: #FFF;
}

div.message:before {
	line-height: 0px;
	font-size: 20px;
	height: 12px;
	width: 12px;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	left: -11px;
	background-color: #FFF;
}

div.message:before {
	padding: 12px 14px 12px 10px;
	color: #008CBA;
	content: "i";
}

div.message.error:before {
	padding: 11px 16px 14px 7px;
	color: #F04124;
	content: "x";
}

.view h2 {
	color: #6F6F6F;
}

.view .columns.strings {
	border-radius: 3px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
	margin-right:0.7rem;
}

.view .numbers {
	background-color: #00BCD4;
	color: #FFF;
	border-radius: 3px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
	margin-right:0.7rem;
}

.view .columns.dates {
	border-radius: 3px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
	margin-right:0.7rem;
	background-color:#607D8B;
	color: #fff;
}

.view .columns.booleans {
	border-radius: 3px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
	margin-right:0.7rem;
	background-color:#3F51B5;
	color: #fff;
}

.view .numbers .subheader, .view .dates .subheader, .view .booleans .subheader {
	color:#E9E9E9;
}

