/* Miligram overrides */
a {
    font-family: 'Raleway', sans-serif;
    color: #404041;
}

/* Main */
body {
    background: #F5F7FA;
}
.content {
    padding: 2.0rem;
    background: #FFFFFF;
    border-radius: .4rem;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
}
.actions a {
    font-weight: bold;
    padding: 0 .4rem;
}
th {
    white-space: nowrap;
}

/* Nav bar */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 112.0rem;
    padding: 2.0rem;
    margin: 0 auto 2.0rem;
}
.top-nav-title a {
    font-size: 2.4rem;
    color: #D33C43;
}
.top-nav-title span {
    color: #404041;
}
.top-nav-links a {
    margin: 0 .5rem;
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}

.side-nav-item {
    display: block;
    padding: .5rem 0;
}

/* View action */
.content .text {
    margin-top: 1.2rem;
}
.related {
    margin-top: 2.0rem;
}

/* Flash messages */
.message {
    padding: 1.0rem;

    background: #EFF8FF;
    color: #2779BD;

    border-color: #6CB2EB;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2.0rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #E3FCEC;
    color: #1F9D55;
    border-color: #51D88A;
}
.message.error {
    background: #FCEBEA;
    color: #CC1F1A;
    border-color: #EF5753;
}

/* Paginator */
.paginator {
    text-align: right;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1.0rem;
}
.prev,
.next {
    margin: 0 1.0rem;
}
.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

/* Error */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .top-nav {
        margin: 0 auto;
    }
    .side-nav {
        margin-bottom: 1.0rem;
    }
    .heading {
        margin-bottom: 1.0rem;
    }
    .side-nav-item {
        display: inline;
        margin: 0 1.5rem 0 0;
    }
    .asc:after {
        content: " \2192";
    }
    .desc:after {
        content: " \2190";
    }
}
