<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase / may be required by some hosts
    #RewriteBase   /
    RewriteCond   %{REQUEST_FILENAME} !-f
    RewriteRule   ^ index.php [L]
</IfModule>
